@import "src/style.constants";

.header {
  width: 100%;
  height: 80px;
  border-bottom: $black-100 solid 1px;

  display: flex;
  justify-content: center;
}

.header-container {
  width: 1440px;

  padding: 0 70px;

  display: flex;
  align-items: center;
}

@media (max-width: 800px) {
  .header-container {
    min-width: 355px;
    width: 355px;
    padding: 0;
  }
}
