@import "src/style.constants";

.auth-button {
  margin-left: 59px;
  padding: 6px 60px;
  height: auto;
  background-color: $white-100;
  outline: none;
  border: 2px solid $orange-red;
  border-radius: 7px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: $orange-red;

}

@media (max-width: 800px) {
  .auth-button {
    padding: 6px 18px;
    margin-left: 10px;
    letter-spacing: -0.8px;
  }
}
