.medic-card-container {
  display: flex;
  margin-top: 96.5px;
  flex-wrap: wrap;
}

@media (max-width: 1440px) {
  .medic-card-container {
    margin-top: 28px;
    display: flex;
    justify-content: center;
  }
}
