@import "src/style.constants";

.label {
  display: flex;
  flex-direction: column;
}

.input {
  outline: none;
  border-radius: 10px;
  border: 1px solid $orange-red;
  margin-top: 8px;

  padding: 8px 15px;
}

.label, .input {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;

  color: $dark-blue;
}
